body {
    background: url(../images/background-forth.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 96vh;
    justify-content: center;
}

#profile {
    align-items: center;
    background: rgba(40, 40, 40, 0.6);
    display: flex;
    flex-direction: column;
    height: 18rem;
    justify-content: center;
    width: 22rem;
}

img {
    border: 4px solid rgb(164, 35, 29);
    border-radius: 50%;
    height: 130px;
    margin-top: 2rem;
    width: 130px;
}

h1 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
}

#links {
    align-items: center;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-around;
    width: 22rem;
}

a {
    text-decoration: none;
    color: rgb(164, 35, 29);
}

a:hover {
    color: #333;
}