body {
    background: url(../images/background-winter.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #333;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

#profile {
    align-items: center;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 22rem;
    justify-content: center;
    width: 26rem;
}

img {
    border-radius: 50%;
}

h1 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    margin: 0 1em;
    color: rgb(164, 35, 29);
}

a:hover {
    color: #333;
}